@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    background-color: #000000;
    font-family: 'DM Sans', sans-serif;
}

.landing {
    color: #ffffff;
    text-align: center;
}

.logo {
    width: 80px;
    margin-top: 2rem;
}

.name_container {
    margin-top: 35vh;
}

.name {
    font-size: 56px;
    font-weight: 700;
}

.coming_soon {
    font-size: 18px;
    font-weight: 700;
}

.left_line {
    position: absolute;
    width: 2rem;
    height: 85%;
    top: 5%;
    border-right: 2px solid #ffffff;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 2rem;
    text-align: left;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;

    background-image: linear-gradient(180deg, transparent 85%, #ffffff 0);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size .4s ease;
}
  
a:hover {
    background-size: 100% 100%;
}

@media only screen and (max-width: 600px) {
    .name_container {
        margin-top: 35vh;
    }
    .name {
        font-size: 32px;
    }
    .coming_soon {
        font-size: 16px;
    }
    a {
        font-size: 16px;
    }
    .left_line {
        width: 1rem;
    }
}